.sorteio {

    .resultado {
        color: #FE652BFC;
        font-size: 25px;
    }

    .botaoSortear {
        width: 350px;
        height: 80px;
        font-size: 20px;
        box-shadow: 2px 2px 0px 1px #000000;
        border-radius: 45px;
        background-color: #fe652b;
        color: #fff;
        cursor: pointer;
        margin: 16px;

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &:hover {
            background-color: #4b69fd;
        }

        &:active {
            box-shadow: 0px 0px 0px 0px #000000;
        }

        @media screen and (max-width: 800px) {
            width: 220px;
            margin: 32px 0;
        }
    }

    select {
        width: 200px;
        height: 70px;
        box-sizing: border-box;
        padding: 0 32px;
        border-radius: 45px;
        font-size: 20px;
        border: 2px solid black;
        box-shadow: 0px 2px 0px 1px #000000;

        &:focus {
            outline: none;
        }

        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }


    p {
        font-size: 20px;
        font-weight: 200;
        margin: 32px 0;
    }

    footer {
        
            margin: 64px 0;

    }
}