.cabecalho {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;

    @media (max-width: 800px) {
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
    }

    .imagemLogo {
        background-image: url("../../../public/imagens/logo.png");
        width: 351px;
        height: 117px;

        @media (max-width: 800px) {
            background-image: url("../../../public/imagens/logo-pequeno.png");
            width: 235px;
            height: 199px;
        }
    }

    .participante{
        z-index: 1;
    }
}